<div class="container">
  <app-filtr-and-sort></app-filtr-and-sort>

  <virtual-scroller #scroll [items]="recipeDataObject">
    <app-recipe-card-template class="vsList" *ngFor="let recipeData of scroll.viewPortItems">
      <div class="title">{{recipeData.name}}</div>

      <div class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>

      <div class="fireIcons">
        <mat-icon>local_fire_department</mat-icon>
        <mat-icon>local_fire_department</mat-icon>
        <mat-icon>local_fire_department</mat-icon>
      </div>

      <div class="time">{{recipeData.time}} min</div>

      <div class="shortDescription">{{recipeData.short_description}}</div>

      <div class="tagItem">
        <!-- dorzucić tu cały osobny komponent z chipsami
        https://material.angular.io/components/chips/examples -->
        <span class="tagItem">mięso </span>
        <span class="tagItem">masło </span>
        <span class="more"><mat-icon>more_horiz</mat-icon></span>
      </div>
    </app-recipe-card-template>
  </virtual-scroller>
</div>

<div class="someSpace"></div>
