.container{
  padding: 0;
  margin: auto;
  margin-top: 2rem;
  width: 1200px;
}

virtual-scroller {
  max-width: 1400px;
  margin: auto;
  height: 800px;

  .vsList {
    margin: auto;
    display: block;
    width: 90%;
    height: 30px;
    margin-bottom: 440px;
  }
}

.someSpace{
  height: 600px;
}
