<div class="container">
  <app-filtr-and-sort></app-filtr-and-sort>

  <virtual-scroller #scroll [items]="recipeDataObject">
    <app-recipe-card-template class="vsList" *ngFor="let recipeData of scroll.viewPortItems">
      <div class="title" contenteditable>{{recipeData.name}}</div>
      <div class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>

      <div class="fireIcons">
        <mat-icon *ngFor="let _ of [].constructor(recipeData.level)">local_fire_department</mat-icon>
      </div>

      <div class="time">{{recipeData.time }} min</div>

      <div class="shortDescription">{{recipeData.short_description}}</div>

      <div class="tagItem">
        <mat-chip-list aria-label="ingrSection">
          <mat-chip disabled class="meat">Mięso</mat-chip>
          <mat-chip disabled class="vegetable">Ogórek</mat-chip>
          <mat-chip disabled class="dairy">Ser</mat-chip>
          <mat-chip disabled class="more"><mat-icon>more_horiz</mat-icon></mat-chip>
        </mat-chip-list>
      </div>

      <div class="przepis"><button mat-stroked-button color="primary" routerLink='/przepis/{{recipeData._id}}'>Przepis</button></div>

    </app-recipe-card-template>
  </virtual-scroller>
</div>

<div class="someSpace"></div>
