//global
$firstColor: #F25C05;
$secondColor: #8C3908;
$lightColor: #F2F2F2;
$darkColor: #262626;

$slick-font-family: 'Lato', sans-serif;
$slick-font-size-base-value: 16;

// cells
$slick-cell-font-weight: 600;
$slick-cell-odd-background-color: $secondColor;
$slick-cell-even-background-color: $firstColor;
$slick-cell-text-color: $lightColor;
$slick-cell-border-left: 0;
$slick-cell-border-right: 0;

// row
$slick-row-mouse-hover-color: $darkColor;
$slick-row-mouse-hover-box-shadow: 0px 0px 4px 0px rgba(13, 13, 13, 1);

// container
$slick-container-border-bottom: 24px solid $darkColor;

// header
$slick-header-font-size: 16px;
$slick-header-font-weight: 900;
$slick-header-text-color: $lightColor;
$slick-header-background-color: $darkColor;
$slick-header-resizable-hover: $darkColor;

// menu
$slick-menu-bg-color: $lightColor;
$slick-menu-border: 1px solid $darkColor;
$slick-menu-close-btn-bg-color: transparent;
$slick-menu-close-btn-color: $darkColor;
$slick-menu-close-btn-opacity: 1;
$slick-menu-close-btn-opacity-hover: 0.5;
$slick-menu-close-btn-margin: 0 0 10px 0;
$slick-menu-divider-color: $lightColor;
$slick-menu-item-hover-color: $lightColor;
$slick-header-menu-button-icon-color: $darkColor;

// icons
$slick-header-menu-button-icon-color: $firstColor;
$slick-icon-sort-color: $firstColor;

//pagination
$slick-pagination-button-border-color: rgba($darkColor, 0.5);
$slick-pagination-button-border-radius: 20px;
$slick-pagination-button-hover-color: $lightColor;
$slick-pagination-button-height: 38px;
$slick-pagination-icon-color: $firstColor;
$slick-pagination-page-input-bgcolor: $lightColor;
$slick-pagination-page-input-width: 40px;
$slick-pagination-text-color: $darkColor;

@import '/node_modules/@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.scss';


.container{
  display: flex;
  justify-content: center;
  .gridPane{
    margin-top: 4rem;
    .slickgrid-container{

      .slick-pane{
        .slick-header-columns{
          .slick-header-column:hover{ color:#F2F2F2; }
        }

        .slick-grid-menu-button{ color: $firstColor; }
      }
    }
  }
}
