<div class="modal-header">
  <h4 class="modal-title">Zarejestruj się</h4>
  <div class="spacer"></div>
  <button type="button" mat-mini-fab class="close" data-dismiss="modal" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <!-- username input -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Nazwa użytkownika:</mat-label>
        <input
        matInput
        placeholder="np. kampai"
        type="text"
        required
        ngModel
        #username="ngModel" name="username" id="username">
      </mat-form-field>
    </div>

    <!-- mail input -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>E-mail:</mat-label>
        <input
        matInput
        placeholder="np. jkowalski@gmail.com"
        type="email"
        required
        ngModel email="true"
        #email="ngModel" name="email" id="email">
      </mat-form-field>
    </div>

    <!-- password input -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Hasło:</mat-label>
        <input
        matInput
        type="password"
        ngModel
        required
        #password="ngModel" name="password" id="password">
      </mat-form-field>
    </div>
    <!-- password input -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Potwierdź hasło:</mat-label>
        <input
        matInput
        type="password"
        ngModel
        required
        #passwordConfirm="ngModel" name="passwordConfirm" id="passwordConfirm">
      </mat-form-field>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" mat-button color="primary" (click)="closeModal('Zarejestrowano')">Zarejestruj</button>
</div>
