.modal-header{
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 5px #a2a2a2;
  display: flex;

  .close{
    background-color: #ffba70;
    color: white;
  }

  .spacer{ flex: auto; }
}

.modal-body{
  text-align: center;
  margin: auto;
}

.modal-footer{
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 5px #a2a2a2;
  display: flex;

  //to potem zrobić jako mixin i do globalnych
  .mat-button{ font-size: 16px; }
  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    background-color: #ffba70;
    color: white;
  }
}
