<div class="container">
  <div class="filtrButton">
    <button mat-raised-button>
      <span class="material-icons">filter_list</span>
      FILTRY
    </button>
  </div>

  <div class="spacer"></div>

  <div class="selected">
    <div class="selected-item">mięso</div>
    <div class="selected-item">mleko</div>
  </div>

  <div class="spacer"></div>

  <div class="sortBy">
    Sortuj:
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option [value]="selected">od najnowszego</mat-option>
        <mat-option value="option2">od najstarszego</mat-option>
        <mat-option value="option3">najwyżej oceniany</mat-option>
        <mat-option value="option4">najniżej oceniany</mat-option>
      </mat-select>

    </mat-form-field>

  </div>
</div>
