<mat-toolbar class="toolbar">
  <div class="content">
    <span routerLink='' class="logo">FajneLogo</span>

    <span class="navSpacer"></span>

    <div class="menu">
      <span class="menuItem"><button mat-flat-button (click)="openLoginDialog()">Zaloguj się</button></span>
      <span class="menuItem"><button mat-flat-button (click)="openRegisterDialog()">Zarejestruj się</button></span>
    </div>

    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink='/lista-przepisow'>Lista Przepisów</button>
      </mat-menu>
    </div>
</mat-toolbar>
