@import '../../../styles.scss';
.toolbar{
  padding: 1rem;
  background-color: $transparent;
  box-shadow: 0 0px 5px $lightColor;

  .content{
    margin: auto;
    width: 1200px;
    display: flex;

    .logo{ cursor: $clickable; }

    .navSpacer{ flex: auto; }

    .menu{
      cursor: $clickable;
      .menuItem{ margin-left: 20px; }
      .mat-flat-button{
        font-size: 18px;
        background-color: $transparent;
      }
      .menuItem:nth-child(2){
        .mat-flat-button{ color: $lightColor; }
      }

    }
  }
}
