<blockquote>
  <h1>„Nie ma bardziej szczerej miłości niż miłość do jedzenia”</h1>
  <span>~każdy chociaż raz w swojej głowie 😅</span>
</blockquote>
<div class="underline"></div>

<div class="rand">
  <div class="randLeft"></div>
  <div class="randLeftImg">
    <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/DA2CE7B2-213D-47CD-BC65-8746BF251207/Derivates/ac919776-333a-491f-adeb-f584db66502f.jpg">
  </div>
  <div class="randRight">
    <h2>Nie wiesz co zjeść? Zdaj się na los!</h2>

    <button mat-button color="primary">Wylosuj danie!</button>
  </div>
</div>

<div class="fullList">
  <button mat-flat-button color="basic" class="button-52">Sprawdź wszystkie przepisy!</button>
</div>
