.mat-dialog-container{
  width: 300px;
  text-align: center;

  .mat-dialog-content{
    padding: 20px;

    mat-button-focus-overlay{
      background-color: red;
      color: pink
    }
  }
  .mat-dialog-actions{
    justify-content: center;
  }
}
