<div class="modal-header">
  <h4 class="modal-title">Edytuj przepis</h4>
  <div class="spacer"></div>
  <button type="button" mat-mini-fab class="close" data-dismiss="modal" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="editForm">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Nazwa przepisu: </mat-label>
        <input
          matInput
          formControlName="name"
          id="name"
          type="name"
          placeholder = ""
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Opis: </mat-label>
        <input
          matInput
          formControlName="description"
          id="description"
          type="description"
          placeholder = ""
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Krótki opis: </mat-label>
        <input
          matInput
          formControlName="short_description"
          id="short_description"
          type="text"
          placeholder = ""
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <!-- <div class="form-group">
      <mat-form-field>
        <mat-label>Składniki: </mat-label>
        <input
          matInput
          formControlName="ingredients"
          id="ingredients"
          type="text"
          placeholder = ""
          >
          <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error>
      </mat-form-field>


      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let item of editForm.value.ingredients" (removed)="remove(item)">
            {{item.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div> -->

    <div class="form-group">
      <mat-form-field>
        <mat-label>Poziom trudności: </mat-label>
        <input
          matInput
          formControlName="level"
          id="level"
          type="number"
          placeholder = ""
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Czy 1 garnkowe danie?</mat-label>
        <input
          matInput
          formControlName="single_pot"
          id="single_pot"
          type="text"
          placeholder = "true/false"
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Porcje: </mat-label>
        <input
          matInput
          formControlName="size"
          id="size"
          type="number"
          placeholder = ""
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Czas przygotowania w min: </mat-label>
        <input
          matInput
          formControlName="time"
          id="time"
          type="number"
          placeholder = ""
          >
          <!-- <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error> -->
      </mat-form-field>


    </div>

  </form>
</div>

<div class="modal-footer">
  <!-- <button type="button" mat-button color="primary" (click)="submit(editForm)">Zatwierdź</button> -->
</div>
