@import 'material-icons/iconfont/material-icons.scss';
$themeColor: #ffba70;
$themeColorHover: #f9ac5a;
$lightColor: #a2a2a2;
$transparent: rgba(255, 255, 255, 0);
$clickable: pointer;

@mixin headerOne{
  font-size: 2rem;
  font-weight: 700;
}
@mixin specialButtonBorder{
  color: white;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
@mixin specialButtonAfter{
  content: "";
  background-color: $themeColor;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
@mixin specialButtonHoverAfter{
  top: 0px;
  left: 0px;
}
@mixin boldText{ font-weight: 700; }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}
*:before, *:after {
  content: '';
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb {
  background: #ffba70af;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: #ffba70; }
