<h2 mat-dialog-title>Zaloguj się</h2>

<div mat-dialog-content>
  <form [formGroup]="register">
    <!-- e-mail -->
    <div>
      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="example@gmail.com"
        >
        <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <!-- password -->
    <div>
      <mat-form-field>
        <mat-label>Hasło:</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="password"
        >
        <mat-error *ngIf="password?.invalid">{{passwordErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <!-- confirm password -->
    <div>
      <mat-form-field>
        <mat-label>Powtórz hasło:</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          placeholder="password"
        >
        <mat-error *ngIf="confirmPassword?.invalid">{{confirmPasswordErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-button color="basic" mat-dialog-close>Zamknij</button>
  <button type="button" mat-button color="primary" (click)="submit(register)" [mat-dialog-close]="true">Zarejestruj</button>
</div>
