@import '../../../styles.scss';
.toolbar{
  position: sticky;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 5px $lightColor;

  .madeBy{
    margin: auto;
    font-size: 12px;
    color: $themeColor;

    a{
      color: $lightColor;
      text-decoration: none;
    }
    a:hover{ color: $themeColor }
  }
}
